apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 50%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: app-backend:IMAGE_TAG_PLACEHOLDER
        imagePullPolicy: Never
        ports:
        - containerPort: 8080
        env:
          - name: DB_HOST
            value: "postgres.default.svc"
          - name: DB_PORT
            value: "5432"
          - name: DB_USER
            value: "postgres"
          - name: DB_PASSWORD
            value: "postgres"
          - name: DB_NAME
            value: "app"
          - name: DB_SSLMODE
            value: "disable"

---
apiVersion: v1
kind: Service
metadata:
  name: backend
  labels:
    app: backend
spec:
  type: ClusterIP
  ports:
    - name: http
      protocol: TCP
      port: 8080
  selector:
    app: backend
